* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Eczar', serif;
}

p {
  font-family: 'Exo', sans-serif;
}

ul {
  list-style-image: url(../img/list-icon.svg);
  position: relative;
  left: 2rem;
  width: calc(100% - 2rem);
}

li {
  font-size: 3rem;
  line-height: 1.5rem;
}

span {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}

#home-page-wrapper, #locations-page-wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
  "hd hd"
  "mn as"
  "ft ft";
  grid-template-rows: auto 1fr 15%;
  grid-template-columns: 1fr 15rem;
}

#menu-page-wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
  "hd"
  "mn"
  "ft";
  grid-template-rows: auto 1fr 15%;
  grid-template-columns: 100%;
}

header {
  grid-area: hd;
  display: flex;
  flex-direction: column;
  background-color: #862700;
}

#title, #slogan {
  margin-left: 10px;
  flex: 1;
  color: #FFFFFF;
}

#logo {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 90px;
}

nav {
  flex: 1;
  display: flex;
  flex-direction: row;
  z-index: 5;
}

.nav-target {
  flex: 1;
  font-size: 1.2rem;
  font-family: 'Exo', sans-serif;
  background-color: #ffeabe;
  color: #862700;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 2px solid #862700;
  z-index: 6;
  transition: flex 1s;
}

.nav-target:hover {
  flex: 1.2;
}

main {
  grid-area: mn;
  background-color: #ffeabe;
  z-index: -2;
}

main.info {
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

#head-chef {
  margin: -5%;
  transform: scale(0.8, 0.8);
  z-index: 0;
}

article.info {
  flex: 1;
  padding: 0.6rem;
  background-color: #FFFFFF;
}

h3.info {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

p.info {
  text-align: left;
  font-size: 1rem;
  line-height: 1.75rem;
}

main.menu {
  display: flex;
  flex-direction: row;
}

section.menu {
  flex: 1;
}

aside.menu {
  border-left: 2px solid #862700;
  padding: 10px;
}

#location-wrapper {
  height: 100%;
  width: 500%;
  display: flex;
  flex-direction: row;
  margin-left: 0%;
  transition: margin 1s ease-in-out 0s;
}

#location-wrapper > section {
  flex: 1;
  width: 100%;
  height: 100%;
}

img.location {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}

article.location {
  width: 100%;
  height: min-content;
  z-index: 3;
  position: absolute;
}

h3.location, p.location {
  background-color: #ffeabe;
  color: #862700;
  z-index: 4;
}

aside.location {
  display: flex;
  flex-direction: column;
}

button.location {
  flex: 1;
  font-size: 1.2rem;
  font-family: 'Exo', sans-serif;
  background-color: #862700;
  color: #ffeabe;
  text-align: center;
  font-size: 1.2rem;
}

aside {
  grid-area: as;
  background-color: #ffeabe;
}

footer {
  grid-area: ft;
  background-color: #862700;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

section.about {
  flex: 1;
  margin: 5px;
}

section.legal {
  flex: 2;
  margin: 5px;
}

h3.about, h3.legal {
  color: #FFFFFF;
  font-size: 1rem
}

p.about {
  color: #FFFFFF;
  columns: 2;
  font-size: 0.5rem;
}

p.legal {
  color: #FFFFFF;
  columns: 4;
  font-size: 0.5rem;
}